<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Nota de pedido - {{ numero}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="CuerpoGrid">
    <ion-row class="Cuerpo">
      <ion-col col-6>
        <div class="Titulos">
          <ion-title class="Tituloscolumnas">
            Productos
          </ion-title>
        </div>
        <ion-scroll direction="y" class="theroot">
          <div *ngFor="let articulo of articulos">
            <ion-list>
              <ion-item-sliding #item>
                <ion-item>
                  <ion-row class="Items">
                    <ion-col col-2 pull-col-xs-0 class="contenedorimagen">
                      <div class="container">
                        <img [src]="'http://18.228.160.222/img/productos/' + articulo.imagen">
                      </div>
                    </ion-col>
                    <ion-col col-8>
                      <div class="info">
                        {{ articulo.descripcion }}
                      </div>
                      <div style="margin-top= 0px;">
                        {{ articulo.cantidad}} Unidades
                      </div>
                    </ion-col>
                    <ion-col col-2>
                      <div class="alerta" *ngIf="articulo.oferta_volumen !=0 || articulo.envase_nuevo !=0 || articulo.escala_descuento !=0 || articulo.oferta_lanzamiento !=0 || articulo.agotar_stock !=0 || articulo.embarque !=0">
                        <ion-icon name="alert"></ion-icon>
                      </div>
                      <div class="precio">
                        ${{ articulo.precio }}
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-item-options side="right">
                  <button ion-button color="danger" (tap)="borrar(articulo.codigo)">Borrar</button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </div>
        </ion-scroll>
      </ion-col>
      <ion-col col-3>
        <div class="Titulos">
          <ion-title class="Tituloscolumnas">
            Datos
          </ion-title>
        </div>
        <div class="Cliente">
          <ion-row class="RowCliente">
            <ion-title class="CondicionTitulo">
              Cliente
            </ion-title>
            <button class="BotonAddPersona" (tap)="openModalCliente()" style="background-color: #fff; margin-top: 14px; margin-right: 25px; height: 44px!important; width: 66px!important;">
              <ion-icon class="AddPersona" name="person-add"></ion-icon>
            </button>
          </ion-row>
          <ion-title class="NombreCliente">
            {{cliente.razon_social}}
          </ion-title>
        </div>
        <div class="OtroDatos">
          <ion-title class="CondicionTitulo">
            Otros datos
          </ion-title>
          <ion-item>
            <ion-textarea placeholder="Observaciones" [(ngModel)]="notas"></ion-textarea>
          </ion-item>
        </div>
        <div class="CondFactu">
          <ion-title class="CondicionTitulo">
            Condicion de facturación
          </ion-title>
          <ion-item>
            <ion-label></ion-label>
            <ion-select [(ngModel)]="medpago" interface="popover">
              <ion-option value="1">FACTURADO</ion-option>
              <ion-option value="2">FACT/MONOT</ion-option>
              <ion-option value="3">REMITADO</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="CondPago">
          <ion-title class="CondicionTitulo">
            Condicion de pago
          </ion-title>
          <ion-item>
            <ion-label></ion-label>
            <ion-select [(ngModel)]="condpago" interface="popover">
              <ion-option value="0">NO PAGA</ion-option>
              <ion-option value="1">PAGA</ion-option>
              <ion-option value="2">PAGA SOLO REMITO</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
      <ion-col col-3>
        <div class="Titulos">
          <ion-title class="Tituloscolumnas">
            Totales
          </ion-title>
        </div>
        <div class="Subtotal">
          <ion-title class="TituloSubtotal">
            Subtotal
          </ion-title>
          <ion-row>
            <button ion-button clear item-start (tap)='showHide1()' style="height:32px;">
              <ion-icon *ngIf="hideMe1" name="eye" style="font-size:32px;"></ion-icon>
              <ion-icon *ngIf="!hideMe1" name="eye-off" style="font-size:32px;"></ion-icon>
            </button>
            <ion-title *ngIf="hideMe1" class="Cantidades">
              $ {{this.subtotal}}
            </ion-title>
          </ion-row>
        </div>
        <div class="Descuento">
          <ion-title class="TituloDescuento">
            Descuento
          </ion-title>
          <ion-row>
            <button ion-button clear item-start (tap)='showHide2()' style="height:32px;">
              <ion-icon *ngIf="hideMe2" name="eye" style="font-size:32px;"></ion-icon>
              <ion-icon *ngIf="!hideMe2" name="eye-off" style="font-size:32px;"></ion-icon>
            </button>
            <ion-title *ngIf="hideMe2" class="Cantidades">
              <ion-input type="number" [(ngModel)]="descuento" (ionChange)="calculaSubtotal()"></ion-input>
            </ion-title>
          </ion-row>
        </div>
        <div class="Total">
          <ion-title class="TituloTotal">
            Total
          </ion-title>
          <ion-row>
            <button ion-button clear item-start (tap)='showHide3()' style="height:32px;">
              <ion-icon *ngIf="hideMe3" name="eye" style="font-size:32px;"></ion-icon>
              <ion-icon *ngIf="!hideMe3" name="eye-off" style="font-size:32px;"></ion-icon>
            </button>
            <ion-title *ngIf="hideMe3" class="Cantidades">
              $ {{this.total}}
            </ion-title>
          </ion-row>
        </div>
        <ion-footer class="Footer">
          <ion-toolbar class="BotonesPedido">
            <button class="CancelarPedido" ion-button color="dark" outline (tap)="cancelarPedido()">CANCELAR PEDIDO</button>
            <button class="RealizarPedido" ion-button color="light" (tap)="grabarPedido()">REALIZAR PEDIDO</button>
          </ion-toolbar>
        </ion-footer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
