<ion-header>
  <ion-toolbar class="cabeza">
    <ion-title class="titulo">
      Selección de  productos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="producto">
    <ion-row>
      <ion-col col-5>
        <div class="container">
          <img [src]="'assets/imgarticulos/' + articulo.imagen">
        </div>
      </ion-col>
      <ion-col col-7>
          {{ articulo.descripcion }}
      </ion-col>
    </ion-row>
  </div>
  <ion-list *ngIf="articulo.fragancias== 1">
    <ion-item>
      LIMON
      <button ion-button item-end class="suma" (tap)="decrement1()" style="height:32px;">
        <ion-icon name="remove-circle" style="font-size:32px;"></ion-icon>
      </button>
      <div item-end>
        {{currentNumber1}}
      </div>
      <button ion-button item-end class="resta"  (tap)="increment1()" style="height:32px;">
        <ion-icon name="add-circle" style="font-size:32px;"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      VAINILLA
      <button ion-button item-end class="suma" (tap)="decrement2()" style="height:32px;">
        <ion-icon name="remove-circle" style="font-size:32px;"></ion-icon>
      </button>
      <div item-end>
        {{currentNumber2}}
      </div>
      <button ion-button item-end class="resta" (tap)="increment2()" style="height:32px;">
        <ion-icon name="add-circle" style="font-size:32px;"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      COCO
      <button ion-button item-end class="suma" (tap)="decrement3()" style="height:32px;">
        <ion-icon name="remove-circle" style="font-size:32px;"></ion-icon>
      </button>
      <div item-end>
        {{currentNumber3}}
      </div>
      <button ion-button item-end class="resta" (tap)="increment3()" style="height:32px;">
        <ion-icon name="add-circle" style="font-size:32px;"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      RALLY
      <button ion-button item-end class="suma" (tap)="decrement4()" style="height:32px;">
        <ion-icon name="remove-circle" style="font-size:32px;"></ion-icon>
      </button>
      <div item-end>
        {{currentNumber4}}
      </div>
      <button ion-button item-end class="resta" (tap)="increment4()" style="height:32px;">
        <ion-icon name="add-circle" style="font-size:32px;"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      NEW CAR
      <button ion-button item-end class="suma"  (tap)="decrement5()" style="height:32px;">
        <ion-icon name="remove-circle" style="font-size:32px;"></ion-icon>
      </button>
      <div item-end>
        {{currentNumber5}}
      </div>
      <button ion-button item-end class="resta" (tap)="increment5()" style="height:32px;">
        <ion-icon name="add-circle" style="font-size:32px;"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      AQUA SPORT
      <button ion-button item-end class="suma" (tap)="decrement6()" style="height:32px;">
        <ion-icon name="remove-circle" style="font-size:32px;"></ion-icon>
      </button>
      <div item-end>
        {{currentNumber6}}
      </div>
      <button ion-button item-end class="resta" (tap)="increment6()" style="height:32px;">
        <ion-icon name="add-circle" style="font-size:32px;"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="articulo.talles==1">
    <ion-item>
      XS
      <button ion-button item-end class="suma" (tap)="decrement1()" style="height:32px;">
        <ion-icon name="remove-circle" style="font-size:32px;"></ion-icon>
      </button>
      <div item-end>
        {{currentNumber1}}
      </div>
      <button ion-button item-end class="resta"  (tap)="increment1()" style="height:32px;">
        <ion-icon name="add-circle" style="font-size:32px;"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      S
      <button ion-button item-end class="suma" (tap)="decrement2()" style="height:32px;">
        <ion-icon name="remove-circle" style="font-size:32px;"></ion-icon>
      </button>
      <div item-end>
        {{currentNumber2}}
      </div>
      <button ion-button item-end class="resta" (tap)="increment2()" style="height:32px;">
        <ion-icon name="add-circle" style="font-size:32px;"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      M
      <button ion-button item-end class="suma" (tap)="decrement3()" style="height:32px;">
        <ion-icon name="remove-circle" style="font-size:32px;"></ion-icon>
      </button>
      <div item-end>
        {{currentNumber3}}
      </div>
      <button ion-button item-end class="resta" (tap)="increment3()" style="height:32px;">
        <ion-icon name="add-circle" style="font-size:32px;"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      L
      <button ion-button item-end class="suma" (tap)="decrement4()" style="height:32px;">
        <ion-icon name="remove-circle" style="font-size:32px;"></ion-icon>
      </button>
      <div item-end>
        {{currentNumber4}}
      </div>
      <button ion-button item-end class="resta" (tap)="increment4()" style="height:32px;">
        <ion-icon name="add-circle" style="font-size:32px;"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      XL
      <button ion-button item-end class="suma"  (tap)="decrement5()" style="height:32px;">
        <ion-icon name="remove-circle" style="font-size:32px;"></ion-icon>
      </button>
      <div item-end>
        {{currentNumber5}}
      </div>
      <button ion-button item-end class="resta" (tap)="increment5()" style="height:32px;">
        <ion-icon name="add-circle" style="font-size:32px;"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="articulo.fragancias==0 && articulo.talles==0">
    <ion-item>
      UNIDADES
      <button ion-button item-end class="suma" (tap)="decrement1()" style="height:32px;">
        <ion-icon name="remove-circle" style="font-size:32px;"></ion-icon>
      </button>
      <div item-end>
        {{currentNumber1}}
      </div>
      <button ion-button item-end class="resta"  (tap)="increment1()" style="height:32px;">
        <ion-icon name="add-circle" style="font-size:32px;"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row class="botones">
      <ion-col col-6>
        <ion-item class="divprecio">
          <ion-input type="number" value={{articulo.precio}} class="precio"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <button class="aceptar" ion-button float-right color="light"  (tap)="closeModal(1,articulo)" outline>ACEPTAR</button>
        <button class="cancelar" ion-button float-right color="light" (tap)="closeModal(0,articulo)" outline>CANCELAR</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
