<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="titulo" *ngIf="!isSearchBarOpened">Catálogo</ion-title>
    <ion-searchbar *ngIf="isSearchBarOpened" showCancelButton="true" [(ngModel)]="queryText" (search)="getItems($event)" (ionCancel)="onCancel()" placeholder=""></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchBarOpened" (tap)="isSearchBarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-xs-6 col-sm-4 col-md-3 col-xl-3 *ngFor="let item of _as.articulosFinal">
        <ion-card class="card-catalogo" (tap)="openModal(item)">
          <div class="container">
            <img [src]="'http://18.228.160.222/img/productos/' + item.imagen">
          </div>
          <ion-card-content class="card-content">
            <div class="info ellipsis">
              {{ item.descripcion }}
              <div class="infoadicional ellipsis">
                {{ item.descripcion_adicional }}
              </div>
            </div>
            <div class="valor" [ngStyle]="{'background-color': changeColor(item), 'color': changeFondo(item)}">
              <ion-col col-6 class="codigo">
                {{ item.codigo }}
              </ion-col>
              <ion-col col-6 class="precio">
                ${{ item.precio | number:'1.2-2' }}
              </ion-col>
              <div class="leyenda-iva" center>
                PRECIO NETO + IVA
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
