
<ion-header>

  <ion-toolbar color="dark" src="../assets/imgs/flag.png">

    <ion-title class="titulo">Catálogo</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>

<div class="pantalla-catalogo">

  <ion-grid>
    <ion-row *ngIf="muestraArticulo">

      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let articulo of articulos">
        <ion-card>
          <img [src]="articulo.imagen">
          <ion-card-content>
            <ion-card-title>
              {{ articulo.descripcion }}
            </ion-card-title>
            <p>
              {{ articulo.descripcionAdicional }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</div>

</ion-content>
