page-catalogo {


  .imagen{
    position: absolute;
    width: 100%;

  }
  .titulo{
    text-align: center;

  }


  .card-catalogo{
    height: 100%;
    width: 100%;

  }

  .card-title{
    text-align: center;
    font-size: 100%;

  }

  .precio-articulo{
    font-size: 25px;
  }



}
