page-login {
  ion-content{
    background-color: #000000!important;
  }
  .login{
    background-color: #FFFFFF;
    height: max-content;
    width: 40%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.24);
  }
  .error .toolbar-title-md{
    color: #ff5e5e!important;
    text-align: center;
  }
  .logo{
    background-image: url(../assets/imgs/logotopauto.jpg);
    background-repeat: no-repeat;
    background-size: center;
    background-position: center;
    height: 30%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .Titulos{
    text-align: center;
    padding-top: 26px;
    margin-right: auto;
    margin-left: auto;
    border-color: #888888;
    border-radius: 1px;
    vertical-align: middle;
  }
  .Tituloscolumnas{
    color: #3C3A3A;
    margin-bottom: 16px;
    .toolbar-title-md{
      color: #263238;
      font-family: Roboto;
      font-size: 24px;
      letter-spacing: 0.86px;
      text-align: center;
    }
  }
  .iniciarsesion{
    border-radius: 24px;
    background-color: #FBC02D;
    color: #fff;
    -webkit-box-shadow : none;
    font-size: 16px;
    height: 48px;
    font-family: Roboto;
    width: 90%;
    margin-top: 16px;
  }
  .boton{
    text-align: center;
    padding-bottom: 10px;
  }
  .form{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
