page-perfil {
  .Tituloscolumnas{
    font-size: 20px!important;
    color: #3C3A3A;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
    font-weight: bold!important;
  }

  .Titulos{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-color: #888888;
    border-radius: 1px;
    height: 56px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    vertical-align: middle;
    border-color: rgba(0,0,0,0.12);
  }

  .CuerpoGrid{
    height: 100%;
  }

  .Cuerpo{
    height: 100%;
  }

  .grid{
    padding: unset;
  }

  .col{
    padding: unset;
    border: 1px solid;
    border-left: 0px;
    border-right: 0,5px;
    border-color: rgba(0,0,0,0.12);
  }

  .iconosesion{
    margin-left: auto;
    margin-right: 20px;
  }

  .cerrarsesiontext{
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    font-weight: 500;
    color: #263238;
  }
  .perfilimage{
    background-image: url(../assets/imgs/siliuetaperfil.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50%;
    width: 60%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  .vendedornombre{
    height: 90px;
    width: auto;
    font-size: 36px;
    font-weight: 500;
    margin-top: 24px;
    color: #263238;
    text-align: center;
  }
  .zonas{
    margin-right: auto;
    margin-left: auto;
    width: max-content;
  }
  .titulozona{
    padding-right: 8px;
    font-size: 16px;
  }

  .zona{
    font-size: 16px;
    font-weight: 500;
  }
}
