page-clientes {
  .listadoclientes{
    width: 50%;
    height: auto;
    background-color: #FFFFFF;
  }
  .content-md{
    background-color: #F5F5F5;
  }
  .telefono{
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    font-size: 16px;
    color: #263238;
    font-weight: 500;
  }
  .cliente{
    height: 56px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .cuit{
    align-items: center;
  }
  ion-content{
    background-image: url(../assets/imgs/granPrix17.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .nombre{
    font-size: 16px;
    font-weight: 700;
  }
  .localidad{
    font-size: 14px;
    color: rgba(38,50,56,0.6);
  }
}
