<ion-header>
  <ion-toolbar color="dark">
      <ion-title>Clientes</ion-title>
      <ion-searchbar *ngIf="isSearchBarOpened" showCancelButton="true" [(ngModel)]="queryText" (search)="getClientes($event)" (ionCancel)="onCancel()" placeholder=""></ion-searchbar>
      <ion-buttons end>
        <button ion-button icon-only *ngIf="!isSearchBarOpened" (tap)="isSearchBarOpened=true">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row ></ion-row>
  <ion-grid class="listadoclientes">
    <div *ngFor="let item of _cs.clientesFinal">
      <ion-row class="cliente" (tap)="openModal(1,item.codigo);">
        <ion-col col-7>
          <div class="container">
            <ion-row class="nombre">
              {{ item.razon_social }} - {{ item.cuenta }}
            </ion-row>
            <ion-row class="localidad">
              {{ item.direccion }}, {{ item.id_localidad }}
            </ion-row>
          </div>
        </ion-col>
        <ion-col col-5 align-items: center>
          <div class="telefono" >
            {{ item.telefono }}
          </div>
        </ion-col>
      </ion-row>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
  <ion-fab bottom right>
    <button ion-fab (tap)="openModalvacio(0)"><ion-icon name="person-add"></ion-icon></button>
  </ion-fab>
</ion-content>
